<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading module_title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> <a {{ action 'toggleFilters' }}>Filters</a></div>

    <!-- List group -->
    <ul class="list-group filter-items" style="display: none;">
        <li class="list-group-item">
            {{ filters/alter-filter
                params=master_params.alters
                start_date_A=start_date_A end_date_A=end_date_A
                start_date_B=start_date_B end_date_B=end_date_B
            }}

            {{ filters/token-filter
                params=master_params.tokens
                start_date_A=start_date_A end_date_A=end_date_A
                start_date_B=start_date_B end_date_B=end_date_B
            }}
        </li>

        <li class="list-group-item filter-acceptor">
            <div style="display: flex;">
                <div style="flex: 1 0; word-break: break-all;">
                  {{ filter_repr }}
                </div>
                <div style="flex: 0 1 200px; text-align: right;">
                    <button class="btn btn-default {{ if dirty 'apply-btn-dirty btn-info' }}" {{action 'applyFilter'}}><span class="glyphicon glyphicon-ok" style="margin-right: 0.25em;" aria-hidden="true"></span> Apply Filters</button>
                </div>
            </div>
        </li>
    </ul>
</div>
