<li class="list-group-item">
    <div style="margin-bottom: 5px;">
        <i class="fa fa-users" style="margin: 5px;"></i> alter whitelist/blacklist: <i class="fa fa-circle-o-notch fa-spin alters-loader"></i><br />

        <div>
            <select>
                <option>whitelist</option>
                <option>blacklist</option>
            </select>
        </div>

        <!-- user whitelist/blacklist listview -->
        <div class="whiteblack-lists-container">
            <div class="alter-list whitelist">
              <b>Whitelisted Names:</b>
              <ul>
                {{#each selected_alter_whitelist as |key|}}
                    <li>(<a href="#" {{ action "remove-alter" key }}>remove</a> | <a href="#" {{ action "swap-alter" key false }}>swap</a>) {{key}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="alter-list blacklist">
              <b>Blacklisted Names:</b>
              <ul>
              {{#each selected_alter_blacklist as |key|}}
                  <li>(<a href="#" {{ action "remove-alter" key }}>remove</a> | <a href="#" {{ action "swap-alter" key true }}>swap</a>) {{key}}</li>
              {{/each}}
              </ul>
            </div>
        </div>

        {{!--
        <select class="selectpicker" onchange={{action (mut selected_alter) value="target.value"}}>
          <option value="">-- select an alter --</option>
          {{#each alters as |current_alter|}}
              <option value="{{current_alter.value}}" selected={{eq current_alter selected_alter}}>{{current_alter.display}} ({{current_alter.value}})</option>
          {{/each}}
        </select>
        --}}

      {{ select-picker value=selected_alter multiple=false content=alters optionLabelPath="content.display" optionValuePath="content.value" }}
      <button class="btn" {{action 'add-alter-to-list' selected_alter true}}>Add to Whitelist</button>
      <button class="btn" {{action 'add-alter-to-list' selected_alter false}}>Add to Blacklist</button>
    </div>

    <div>
        <label style="font-weight: normal;">
          {{input type="checkbox" name="constrain_to_timerange" checked=isAlterTimeConstrained}}
            constrain alter list to current times
        </label>
    </div>

    <div>
        <label style="font-weight: normal;">
          minimum emails sent to this alter:
          {{input type="number" min="0" width="4" name="min_sent" value=min_sent}}
        </label>
    </div>
</li>