<li class="list-group-item">
    <div style="margin-bottom: 5px;">
        <div>
            <i class="fa fa-users" style="margin: 5px;"></i> alter whitelist/blacklist: <i class="fa fa-circle-o-notch fa-spin alters-loader"></i>

            <select onchange={{action (mut params.alter_list_type) value="target.value"}}>
              {{#each-in alter_list_type_options as |cur_option desc|}}
                  <option value={{cur_option}} selected={{eq params.alter_list_type cur_option}}>{{desc}}</option>
              {{/each-in}}
            </select>
        </div>

        <!-- user whitelist/blacklist listview -->
        <div class="whiteblack-lists-container">
            <div class="alter-list {{ alter_list_type }}">
              <b>{{ capitalize alter_list_type }}ed Names:</b>
              <ul>
                {{#each params.selected_alter_list as |key|}}
                    <li>[<a href="#" {{ action "remove-alter" key }}>x</a>] {{ key }}</li>
                {{/each}}
              </ul>
            </div>
        </div>

        {{!--
        <select class="selectpicker" onchange={{action (mut selected_alter) value="target.value"}}>
          <option value="">-- select an alter --</option>
          {{#each alters as |current_alter|}}
              <option value="{{current_alter.value}}" selected={{eq current_alter selected_alter}}>{{current_alter.display}} ({{current_alter.value}})</option>
          {{/each}}
        </select>
        --}}

      {{ select-picker value=selected_alter multiple=false content=alters optionLabelPath="content.display" optionValuePath="content.value" }}
      <button class="btn" {{ action 'add-alter' selected_alter }}>Add to List</button>
    </div>

    <div>
        <label style="font-weight: normal;">
          {{input type="checkbox" name="constrain_to_timerange" checked=isAlterTimeConstrained}}
            constrain alter list to current times
        </label>
    </div>

    <div>
        <label style="font-weight: normal;">
          minimum emails sent to alters:
          {{input type="number" min="0" width="4" name="min_sent" value=params.min_sent}}
        </label>
    </div>
</li>