<div class="alters_box">
    <div class="container-fluid">
      {{#each alters as |person|}}
          <div class="row">
              <div class="col-md-8">
                <span style="font-size: smaller;">
                    <a class="alter-list-link" title="{{ person.addresses }}" {{action 'addAlterToList' person}}>{{person.idx}}. {{ person.name }}</a>
                </span>
              </div>
              <div class="col-md-4">
                  {{ bootstrap-progressbar value=person.count maxvalue=total_mails }}
              </div>
          </div>
      {{/each}}
    </div>
</div>
