<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-leaf" style="margin-right: 6px; position: relative; vertical-align: top;" aria-hidden="true"></span> Tea Leaves v0.1
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'index' }}About{{/link-to}}</li>
                <li>{{#link-to 'login' }}Connect{{/link-to}}</li>
                <li>{{#link-to 'compare' }}Compare{{/link-to}}</li>
                <li>{{#link-to 'browse' }}Browse{{/link-to}}</li>
            </ul>

            <p class="login-blurb navbar-text navbar-right">
            {{#if session.isAuthenticated}}
                connected as {{ session.data.authenticated.userEmail }}
                <a {{action 'disconnect-eaf'}}>disconnect</a>
            {{else}}
                <a {{action 'connect-eaf'}}>connect to the EAF</a>
            {{/if}}
            </p>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        {{outlet}}
    </div>

</div><!-- /.container -->
