<h1 style="text-align: center;">Browse Intervals</h1>

<!-- selector section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
          {{ interval-chooser action="setInterval" start_date=start_date end_date=end_date  }}
        </div>
    </div>
</div>

<hr style="width: 100%; border-color: #ccc;"/>

<!-- visualization section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="sortable" id="modules_list">
            {{#each model as |m|}}
              <div class="container-fluid sortable-component">
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-12 header-column" style="display: flex; align-items: baseline;">
                          <div class="module_title" style="flex: 1 1 100%;"><span class="{{m.icon}}" style="margin-right: 0.3em;" aria-hidden="true"></span> <a class="toggle_vis_btn" href="#" {{ action 'toggleVizModuleVisibility' m }}>{{ m.name }}</a></div>
                          <div style="flex: 1 0 100px; text-align: right;">(<a href="#" {{ action 'removeVizModule' m }}>remove</a>)</div>
                      </div>
                  </div>

                  {{#unless m.invisible}}
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-12">
                        {{ component m.type start_date=start_date end_date=end_date layout_direction='wide' }}
                      </div>
                  </div>
                  {{/unless}}
              </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>

<hr style="width: 100%; border-color: #ccc;"/>

<div class="container-fluid">
    <div class="row" style="margin-bottom: 1em; text-align: right;">
        <div class="col-md-12">
            <!-- Single button -->
            <div class="btn-group dropup">
                <button type="button" id="add_module_btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled={{no_components}}>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Module <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{#each available_components as |m|}}
                    <li><a {{ action 'addVizModule' m.type }}> <span class="{{m.icon}}" style="margin-right: 1em;" aria-hidden="true"></span> {{ m.name }}</a></li>
                    {{ else }}
                    <li><a><i>(no more modules...)</i></a></li>
                    {{/each}}

                    {{#unless no_components }}
                    <li class="divider"></li>
                    <li><a {{ action 'addVizModule' '*' }}> <span class="glyphicon glyphicon-asterisk" style="margin-right: 1em;" aria-hidden="true"></span> Add All</a></li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
</div>
