<h1>API Testing Page</h1>

<p>
    This is a testing page for the EAF
</p>

<hr />

{{#if session.isAuthenticated}}
    <p>You're connected!</p>
{{else}}
    <p>You're not connected!</p>
{{/if}}

<p>
    <button class="btn btn-lg" {{ action 'ping-eaf' }}>Ping the EAF</button>
    <button class="btn btn-lg" {{ action 'authed-ping-eaf' }}>Authed-ping the EAF</button>
    <button class="btn btn-lg" {{ action 'lib-ping-eaf' }}>Library-ping the EAF</button>
    <button class="btn btn-lg" {{ action 'log-session' }}>Log Session Data</button>
</p>

