<h1>API Testing Page</h1>

<p>
    This is a testing page for the EAF
</p>

<hr />

{{#if session.isAuthenticated}}
    <p>You're connected!</p>
{{else}}
    <p>You're not connected!</p>
{{/if}}

<p>
  <h3>Action Tests</h3>
  <button class="btn btn-lg" {{ action 'ping-eaf' }}>Ping the EAF</button>
  <button class="btn btn-lg" {{ action 'authed-ping-eaf' }}>Authed-ping the EAF</button>
  <button class="btn btn-lg" {{ action 'lib-ping-eaf' }}>Library-ping the EAF</button>
  <button class="btn btn-lg" {{ action 'log-session' }}>Log Session Data</button>
</p>

<p>
  <h3>Query Tester</h3>
  <label>query:</label> {{input value=query_path}}<br />
  <label>params:</label> {{ input type="text" name="extraParams" value=extraParams }}

  <div>
  <label>use date range:</label> {{ input type="checkbox" name="useDateRange" checked=useDateRange }}
  {{#if useDateRange}}
    {{ interval-chooser start_date=query_min_date end_date=query_max_date }}
  {{/if}}
  </div>

  <button class="btn" {{ action 'exec-query' }}>Exec Authed EAF Query</button>

  {{#if query_loading}}<i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>{{/if}}

  <pre style="margin-top: 0.5em;"><b>query:</b> {{ query_fullpath }}</pre>
  <pre style="margin-top: 0.5em;">{{ query_result }}</pre>
</p>