<h1 style="text-align: center;">Compare Intervals</h1>

<!-- selector section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
          {{ input class="interval_title" value=A_title }}
          {{ interval-chooser action="setIntervalA" start_date=A_start_date end_date=A_end_date  }}
        </div>
        <!--<div class="col-md-2" style="text-align: center; display: flex; align-items: center; height: 130px;">-->
        <!--<button class="btn btn-lg btn-default" style="width: 150px;">Compare</button>-->
        <!--</div>-->
        <div class="col-md-6" style="text-align: center;">
          {{ input class="interval_title" value=B_title }}
          {{ interval-chooser action="setIntervalB" start_date=B_start_date end_date=B_end_date  }}
        </div>
    </div>
</div>

{{ filter-bar action="updateFilter"
    start_date_A=A_start_date end_date_A=A_end_date
    start_date_B=B_start_date end_date_B=B_end_date
}}

<!--<hr class="spanning-hr"/>-->

<!-- visualization section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="sortable" id="modules_list">
            {{#each model as |m|}}
              <div class="container-fluid sortable-component">
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-12 header-column" style="display: flex; align-items: baseline;">
                          <div class="module_title" style="flex: 1 1 100%;"><span class="{{m.icon}}" style="margin-right: 0.3em;" aria-hidden="true"></span> <a class="toggle_vis_btn" href="#" {{ action 'toggleVizModuleVisibility' m }}>{{ m.name }}</a></div>
                          <div style="flex: 1 0 100px; text-align: right;">(<a href="#" {{ action 'removeVizModule' m }}>remove</a>)</div>
                      </div>
                  </div>

                  {{#unless m.invisible}}
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-6">
                        {{ component m.type start_date=A_start_date end_date=A_end_date filters=filter_repr }}
                      </div>
                      <div class="col-md-6">
                        {{ component m.type start_date=B_start_date end_date=B_end_date filters=filter_repr }}
                      </div>
                  </div>
                  {{/unless}}
              </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>

<hr class="spanning-hr"/>

<div class="container-fluid">
    {{!--
    <div class="row" style="margin-bottom: 1em; text-align: right;">
        <div class="col-md-12">
            {{ view "select" content=available_components optionValuePath="content.type" optionLabelPath="content.name" selection=selected_component prompt="(select module)" }}

            <button {{ action 'addVizModule' }} id="add_module_btn" class="btn" style="width: 200px;">add module</button>
        </div>
    </div>
    --}}

    <div class="row" style="margin-bottom: 1em; text-align: right;">
        <div class="col-md-12">
            <!-- Single button -->
            <div class="btn-group dropup">
                <button type="button" id="add_module_btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled={{no_components}}>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Module <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{#each available_components as |m|}}
                    <li><a {{ action 'addVizModule' m.type }}> <span class="{{m.icon}}" style="margin-right: 1em;" aria-hidden="true"></span> {{ m.name }}</a></li>
                    {{ else }}
                    <li><a><i>(no more modules...)</i></a></li>
                    {{/each}}

                    {{#unless no_components }}
                    <li class="divider"></li>
                    <li><a {{ action 'addVizModule' '*' }}> <span class="glyphicon glyphicon-asterisk" style="margin-right: 1em;" aria-hidden="true"></span> Add All</a></li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
</div>
